/.gradle
/.idea/*
!/.idea/runConfigurations/
/app/jacoco.exec
/build
/captures
*.iml
.DS_Store
coverage-error.log
katana.jks
local.properties
sentry.properties
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
