/.gradle
/.idea/*
!/.idea/runConfigurations/
/.kotlin
/build
/captures
*.iml
.DS_Store
coverage-error.log
katana.jks
local.properties
sentry.properties
app-ios/Podfile.lock
app-ios/Pods/*
app-ios/iosApp.xcworkspace/*
app-ios/iosApp.xcodeproj/*
!app-ios/iosApp.xcodeproj/project.pbxproj
