/.gradle
/.idea/*
!/.idea/runConfigurations/
/.kotlin
/build
/captures
*.iml
.DS_Store
coverage-error.log
katana.jks
local.properties

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Ruby / Bundler
vendor/bundle
.bundle
